@import '../styles/variables.scss';

.controls {
  display: flex;
  justify-content: flex-end;
  width: 160px;
  font-weight: $fw-regular;
  
  .editButton {
    color: $scoreText;
    cursor: pointer;
  }

  .deleteButton {
    color: $softRed;
    cursor: pointer;
  }

  span {
    cursor: pointer;
    padding: 0 5px;
    color: $scoreText;
  }
}